---
import MainLayout from "@layouts/MainLayout.astro";
const readmeData = await Astro.glob('../../README.md');
---

<MainLayout title="Home Page">
  <main class="flex flex-row justify-center w-full">
    <section class="markdown dark:markdown-invert markdown-truegray markdown-overwrite">
      <Fragment set:html={readmeData[0].compiledContent()} />
    </section>
  </main>
</MainLayout>

<style>
  .markdown-overwrite {
      @apply py-10 max-w-3/4 text-xl;
  }
</style>
